h4 {
        text-align: center;
        font-family: serif;
      }
      body {
        background-color: rgb(20, 18, 26);
      }
      main {
        margin: 20px;
        background-color: rgb(132, 34, 230);
        height: 450px;
        display: flex;
    justify-content: center;}
      form {
        display: inline-block;
        background-color: aliceblue;
        /* margin-left: 400px; */
        margin-right: 40px;
        margin-top: 20px;
}
      label {
        font-size: 11px;
        margin: 5px;
      }
      .text {
        font-size: 10px;
        padding-block: 4px;
        padding-inline: 9px;
        width: 300px;
        margin: 5px;
        outline: none;
      }
      .text:focus{
        background-color: rgb(183, 234, 234);
        border: none;
        box-shadow: 1px 0 3px 2px;
      }
      .small:focus{
        background-color: rgb(183, 234, 234);
        border: none;
        box-shadow: 1px 0 3px 2px;
      }
      .small {
        font-size: 10px;
        padding-block: 4px;
        padding-inline: 9px;
        width: 125px;
        margin: 5px;
        outline: none;
      }
      .sub{
        font-size: 10px;
        padding-block: 4px;
        padding-inline: 9px;
        width: 322px;
        margin: 5px;
        background-color: rgb(148, 24, 214);
        color: aliceblue;
        cursor: pointer;
        overflow:scroll;
      }
      .sub:hover{
        background-color: aqua;
        font-size: 15px;
        transition: all 3s;
        
      }
      .gen {
        font-size: 10px;
      }
      .box2 {
        width: 330px;
        height: 400px;
      }
      .mbd {
        display: flex;
        gap: 5px;
      }
      .mfp{
        display: flex;
        gap: 10px;
      }
      
      .m {
        align-items: center;
        display: flex;
      }
      .f {
        align-items: center;
        display: flex;
      }
      .p {
        align-items: center;
        display: flex;
      }
      *{
        font-size: 14px;
      }
      .rrf{
        /* display: inline-block; */
        margin-top: 100px;
        margin-left: 80px;
        margin-right: 0px;
      font-size: 70px;
      color: white;
      }
      .brrf{
        display: inline-flex;
      }
      .box{
         display: inline-block; 
        margin-top: 120px;
        margin-left: 50px;
      font-size: 70px;
      color: white;
      background-color: aliceblue;
      border-radius: 20px;
      margin-bottom: 100px;
      height: 200px;
      width: 20px;
      }